/*全局样式表*/
html,body,#app{
    height: 100%;
    margin: 0;
    padding: 0;
}
.el-table th.gutter{
    display: table-cell!important;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #b6b6b6;
}
